{
	"root": true,
	"extends": ["@gamesdonequick/eslint-config", "@gamesdonequick/eslint-config/typescript"],
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"MutableData",
					"nodecg.Replicant",
					"NodeCG.Replicant",
					"t.context.apis.extension.Replicant",
					"window.dashboardApi.Replicant"
				]
			}
		],
		"valid-jsdoc": 0
	}
}
